<div class="row">
  <div class="col-md-6">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Administre los Tipos de Recursos</h3>
        <div class="pull-right box-tools">
          <a href="<%= new_admin_resource_path %>" class="btn btn-default">Nuevo Tipo de Recurso</a>
        </div>
      </div>
      <div class="box-body table-responsive no-padding">
        <div class="text-center">
          <%= paginate @resource_types %>
        </div>
        <table class="table table-hover">
          <tbody>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Multiples</th>
              <th>Campo</th>
              <th></th>
            </tr>
            <% @resource_types.each do |rt| %>
            <tr>
              <td><%= rt.id %></td>
              <td><%= rt.title %></td>
              <td><%= t rt.multiple.to_s %> </td>
              <td><%= rt.field %></td>
              <td>
                <div class="btn-group">
                    <a href="<%= edit_admin_resource_type_path(rt)%>" type="button" class="btn btn-default">Editar</a>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Ver Mas</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="<%= admin_resource_type_path(rt) %>" data-method="delete" data-confirm="Esta seguro?">Eliminar</a></li>
                    </ul>
                </div>
              </td>
            </tr>

            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
