<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= @title || "Turnos" %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag "dashboard", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="skin-blue">
<% unless notice.nil? %>
<div class="alert alert-info alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong><%= notice %></strong>
</div>
<% end %>
<% unless alert.nil? %>
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong><%= alert %></strong>
</div>
<% end %>
  <%= render("layouts/dashboard/header") %>

  <div class="wrapper row-offcanvas row-offcanvas-left">

    <%= render(:partial=>"layouts/dashboard/leftside", :locals=>{:active=>controller_name}) %>
    <aside class="right-side">
      <!-- Content Header (Page header) -->
      <section class="content-header">
          <h1>
              <%= page_title %>
              <small><%= section_title %></small>
          </h1>
          <!--
          <ol class="breadcrumb">
              <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
          </ol>-->
      </section>
      <section class="content">
        <%= yield %>
      </section>
    </aside>
  </div>
  <%= javascript_include_tag "dashboard", "data-turbolinks-track" => true %>
  <%= yield :footer %>
</body>
</html>
